@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    z-index: 1000;   
    position: sticky;
    margin-bottom: -90px;
}

.jumbotron {
    height: 100vh;
}

.navbar{
    position: sticky;
}

.animal {
    margin-left: 70px;
    margin-top: 15px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

#animal {
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.clearfix {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 20px;
}

.navbar-scrolled {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.mid {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-size: cover;
    height: 15rem;
}

button {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #3f88db;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #337CCF;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}

button:active {
    transform: scale(0.95);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.cards .red {
    background-size: cover;
    background-position: 100%;
}

.cards .blue {
    background-size: cover;
    background-position: 100%;
}

.cards .green {
    background-size: cover;
    background-position: 100%;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: .7em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}